<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Explore</ion-title> -->
    <ion-button (click)="navToProfile()">Profile</ion-button>
        <ion-button (click)="navToSaved()">Saved</ion-button>
        <ion-button (click)="navToExplore()">Explore</ion-button>
        <ion-button (click)="navToInbox()">Inbox</ion-button>
        <ion-button (click)="navToTrips()">Trips</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card *ngFor="let listing of listings">
      <ion-slides pager="true">
        <!-- <ion-slide *ngFor="let imageEntry of imageEntries">
          <img src={{imageEntry.imageURL}} />
        </ion-slide> -->
      </ion-slides>
      <ion-card-header>
        <ion-card-subtitle>{{listing.location}}</ion-card-subtitle>
        <ion-card-title>{{listing.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{listing.description}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>