<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="explore"></ion-back-button>
        </ion-buttons>
    <ion-title>Property Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div align="center">
    <ion-card *ngFor="let listing of listings" (click)="navToBooking(listing)">
        <ion-slides pager="true">
          <ion-slide *ngFor="let img of listing.imgUrl">
            <img src={{img}} />
          </ion-slide>
        </ion-slides>
        <ion-card-header>
            <ion-card-subtitle>Price: {{listing.price}}R</ion-card-subtitle>
          <ion-card-title>{{listing.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Location: {{listing.location}}
          <br>
          Description: {{listing.description}}
          <p></p>
          <ion-button (click)="navToBooking()">Book Now</ion-button>
        </ion-card-content>
      </ion-card>

    </div>

<!--   <div align="center">
    <h2>{{listing.name}}</h2>
    <p>
      Price: {{listing.price}}R
      <br>
      Description: {{listing.description}}
    </p>
    <ion-button (click)="navToBooking()">Book Now</ion-button>
  </div> -->
</ion-content>
