<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Profile</ion-title> -->
    <ion-button (click)="navToProfile()">Profile</ion-button>
    <!-- <ion-button (click)="navToSaved()">Saved</ion-button> -->
    <ion-button (click)="navToExplore()">Explore</ion-button>
    <!-- <ion-button (click)="navToInbox()">Inbox</ion-button> -->
    <ion-button (click)="navToTrips()">Trips</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--     <div class="togglebar">
        <div class="toggle" onclick="toggleLeft()">
            <i class="fa fa-bars"></i>
        </div>
    </div> -->
    
  <div class="ion-padding" align="center" *ngFor="let user of users">
    <h2 style="font-size: 3em">Hi, I'm {{user.firstName}}</h2>

    <ion-avatar class="avatar">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>

    <p>
      <b>Email:</b> {{user.email}}
      <br>
      <b>Phone Number:</b> {{user.cellPhone}}
      <br>
      <b>Number of Bookings Made:</b> 23
      <br>
      <b>Number of Reviews Recieved:</b> 20
    </p>
  </div>
</ion-content>