<ion-header>
    <ion-toolbar>
      <ion-title>
        Register
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="ion-padding">
      Create Your Provider Account 
      <p></p>
      <input type="text" placeholder="First Name" [(ngModel)]="firstName">
      <p></p>
      <input type="text" placeholder="Last Name" [(ngModel)]="lastName">
      <p></p>
      <input type="text" placeholder="Email" [(ngModel)]="email">
      <p></p>
      <input type="text" placeholder="Password" [(ngModel)]="password">
      <p></p>
      <ion-button (click)="createUser()">Register</ion-button>
      <p></p>
      Already Have an Account? 
      <p></p>
      <ion-button (click)="navToLogin()">Login</ion-button>
    </div>
  
  </ion-content>
  

